<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Aven Blog</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div>
        <form th:action="@{/logout}" method="post">
            <!--<input type="hidden" th:name="_csrf" th:value="${_csrf.token}">-->
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <div>
        <form method="post">
            <!--<input type="hidden" th:name="_csrf" th:value="${_csrf.token}">-->
            <input type="text" name="theme" placeholder="Заголовок">
            <input type="text" name="briefDescriptions" placeholder="Краткое описания">
            <input type="text" name="text" placeholder="Введите сообшения">
            <button type="submit">Добавить</button>
        </form>
    </div>

    <!--Search-->
    <form method="post" action="search">
        <!--<input type="hidden" th:name="_csrf" th:value="${_csrf.token}">-->
        <input type="text" name="theme">
        <button type="submit">Найти</button>
    </form>


    <div th:if="${not #lists.isEmpty(articles)}">
        <div>Список сообшений</div>

        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>theme</th>
                <th>briefDescriptions</th>
                <th>briefDescriptions</th>
                <th>author</th>
            </tr>
            <tr th:each="article : ${articles}">
                <td th:text="${article.id}"></td>
                <td th:text="${article.theme}"></td>
                <td th:text="${article.briefDescriptions}"></td>
                <td th:text="${article.text}"></td>
                <td th:text="${article.authorName}"></td>
            </tr>
        </table>
    </div>


    <!--<script type="text/javascript">-->
        <!--window.onload = function(){-->
            <!--document.getElementById("exampleFormControlTextarea2").onkeyup = function(){-->
                <!--var getText = this.value;-->
                <!--var getRegs = getText.match(/^.*(\r\n|\n|$)/gim);-->
                <!--var setText = false;-->
                <!--for(var i = 0; i < getRegs.length; i++){-->
                    <!--getText = getRegs[i].replace(/\r|\n/g, "");-->
                    <!--setText += getText.length ? Math.ceil(getText.length / 50) : 1;-->
                <!--}-->
                <!--if (setText < 15) {-->
                    <!--this.rows = 15;-->
                <!--} else {-->
                    <!--this.rows = setText;-->
                <!--}-->
            <!--};-->
        <!--};-->
    <!--</script>-->

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>